
# Java
*.class
*.ctxt
*.ear
#*.log
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
hs_err_pid*
MANIFEST.MF

# Eclipse
*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.apt_generated/
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.loadpath
.metadata
.project
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.tern-project
.texlipse
.worksheet
bin/
local.properties
tmp/

# IntelliJ IDEA
*.iml
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml
cmake-build-debug/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/

# NetBeans
.nb-gradle/
build/
nb-build.xml
nbbuild/
nbdist/
nbproject/

# Gradle
!gradle-wrapper.jar
.gradle
.gradletasknamecache
build/
gradle-app.setting
gradle/wrapper/gradle-wrapper.properties

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# JRebel
rebel.xml

# Vagrant
.vagrant/

# Ansible
*.retry

# Node
node/
node_modules/
